# Node
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Env
apps/api/.env*
apps/api/.env.test
apps/api/.env.development

# Prisma
apps/api/prisma/migrations/*/README.md
apps/api/prisma/migrations/*/README.txt

# Test Coverage
coverage/
coverage-final.json
clover.xml
*.coverage.*

# Jest
jest-stare/


# k8s local secrets

k8s/chatterly/values-secrets.yaml


# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Docker
docker-data/

# Nx
./nx*
.nx/cache
.nx/workspace-data/*

# Angular
apps/*/dist/
apps/*/.angular/

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env*

# Prisma
prisma/migrations/*/README.md
prisma/migrations/*/README.txt
coverage/
coverage-final.json
clover.xml

# Jest
coverage/
*.coverage.*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# Docker
docker-data/

.nvmrc

# never commit compiled output into source
apps/**/src/**/*.js
apps/**/src/**/*.d.ts
libs/**/src/**/*.js
libs/**/src/**/*.d.ts
dist/
tmp/
vite.config.*.timestamp*