# Node
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Env
apps/api/.env*
apps/api/.env.test
apps/api/.env.development

# Prisma
apps/api/prisma/migrations/*/README.md
apps/api/prisma/migrations/*/README.txt

# Test Coverage
coverage/
coverage-final.json
clover.xml
*.coverage.*

# Jest
jest-stare/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Docker
docker-data/

# Nx
./nx*
.nx/cache
.nx/workspace-data/*

# Angular
apps/*/dist/
apps/*/.angular/

# IDE
.vscode/
.idea/