<form [formGroup]="todoForm" (ngSubmit)="addTodo()">
  <label> Select User: </label>
  <select formControlName="userId">
    <option *ngIf="loadingUsers">Loading users...</option>
    <option *ngFor="let user of users" [value]="user.id">
      {{ user.name }} - {{ user.role }}
    </option>
  </select>

  <input formControlName="title" placeholder="Title" />
  <input formControlName="description" placeholder="Description" />

  <label>
    <input type="checkbox" formControlName="isCompleted" />
    Completed
  </label>

  <button type="submit">Add Todo</button>
</form>

<hr />

<div *ngIf="loadingTodos">Loading todos...</div>

<div *ngIf="!loadingTodos && todos.length === 0">No todos found.</div>

<div *ngFor="let todo of todos">
  <p>{{ todo.title }} - {{ todo.isCompleted ? 'Done' : 'Pending' }}</p>
  <button (click)="deleteTodo(todo.id)">Delete</button>
</div>
