# Node
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env.*

# Prisma
prisma/migrations/*/README.md
prisma/migrations/*/README.txt
coverage/
coverage-final.json
clover.xml

# Jest
coverage/
*.coverage.*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# Docker
docker-data/
